<!DOCTYPE html>
<html>
<head>
  <title>horsebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= render 'layouts/header' %>

<p class="flash"><%= notice %><%= alert %></p>

<%= yield %>

<footer>
  <p>© 2016 horsebook.</p>
</footer>

</body>
</html>
